h1{
    text-align: center;
    font-size: 22pt;
    font-weight: bolder;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, serif;

}

h3{
    color: #A4A400;
    background: #f0f0f0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, serif;
    font-size: 18pt;
}

body{
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Gramond, serif;
    background-image: url('donut.png');
    background-position: 50%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    
}

a{
    color: #a4a400;
}

a:visited{
    color: #a4a400;
}

#foto {
    position: absolute; 
    right: 10pt;
    top: 70pt;
    

}